{% extends 'base.html' %}
{% load widget_tweaks %}
{% load json_list %}


{% block title %}

{% endblock %}
{% block body %}
    <main>

        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Enter data</h3>
                            </div>
                            <div class="panel-body">
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ field.label_tag }}
                                            </div>
                                            <div class="col-sm-8">
                                                {{ field.errors }}
                                                {% render_field field class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="panel-footer" style="text-align: center;">
                                <button type="submit" class="btn btn-success btn-large" style="width: 50%;">Solve</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                      <label for="answer">Answer:</label>
                      <textarea class="form-control" rows="2" id="answer" readonly>{{ answer }}</textarea>
                    </div>
                </div>
                <div class="col-sm-5">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <canvas id="myFirstChart" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="mySecondChart" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="myThirdChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </main>

    <script>
        {% if not first.has_break %}
        var configFirst = {
            type: 'line',
            data: {
                labels: {% json_list first.get_abscissa_only %},
                datasets: [{
                    label: '{{ first.expr }}',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {% json_list first.get_ordinate_only %},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Initial Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };

        var configSecond = {
            type: 'line',
            data: {
                labels: {% json_list second.get_abscissa_only %},
                datasets: [{
                    label: '{{ second.expr }}',
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                    data: {% json_list second.get_ordinate_only %},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Ordinary Least Squares'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };

        var configThird = {
            type: 'line',
            data: {
                labels: {% json_list third.get_abscissa_only %},
                datasets: [{
                    label: '{{ third.expr }}',
                    backgroundColor: 'rgb(75, 192, 192)',
                    borderColor: 'rgb(75, 192, 192)',
                    data: {% json_list third.get_ordinate_only %},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Taylor Method'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };
        {% endif %}

        var config = {
            type: 'line',
            data: {
                labels: {% json_list first.get_abscissa_only %},
                datasets: [{
                    label: "Initial Data",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {% json_list first.get_ordinate_only %},
                    fill: false
                },
                {% if not first.has_break %}
                    {
                        label: "Ordinary Least Squares",
                        backgroundColor: 'rgb(54, 162, 235)',
                        borderColor: 'rgb(54, 162, 235)',
                        data: {% json_list second.get_ordinate_only %},
                        fill: false
                    }, {
                        label: "Taylor Method",
                        backgroundColor: 'rgb(75, 192, 192)',
                        borderColor: 'rgb(75, 192, 192)',
                        data: {% json_list third.get_ordinate_only %},
                        fill: false
                    }
                {% endif %}
                ]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Functions'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };


        window.onload = function() {
            {% if not first.has_break %}
                var first = document.getElementById("myFirstChart").getContext("2d");
                window.myFirst = new Chart(first, configFirst);
                var second = document.getElementById("mySecondChart").getContext("2d");
                window.mySecond = new Chart(second, configSecond);
                var third = document.getElementById("myThirdChart").getContext("2d");
                window.myThird = new Chart(third, configThird);
            {% endif %}
            var chart = document.getElementById("myChart").getContext("2d");
            window.myChart = new Chart(chart, config);
            {% if first.has_break %}
                alert('{{ answer }}');
            {% endif %}
        };

    </script>

{% endblock %}
