{% extends 'base.html' %}
{% block title %}
    {% load widget_tweaks %}

{% endblock %}
{% block body %}
    <main>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Enter data</h3>
                            </div>
                            <div class="panel-body">

                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {% render_field field class="form-control" %}
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-success btn-large">Solve</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <canvas id="myFirstChart" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="mySecondChart" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="myThirdChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </main>

    <script>
        var configFirst = {
            type: 'line',
            data: {
                labels: {{ first.get_abscissa_only }},
                datasets: [{
                    label: '{{ first.expr }}',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ first.get_ordinate_only }},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Initial Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };

        var configSecond = {
            type: 'line',
            data: {
                labels: {{ second.get_abscissa_only }},
                datasets: [{
                    label: '{{ second.expr }}',
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                    data: {{ second.get_ordinate_only }},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Ordinary Least Squares'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };

        var configThird = {
            type: 'line',
            data: {
                labels: {{ third.get_abscissa_only }},
                datasets: [{
                    label: '{{ third.expr }}',
                    backgroundColor: 'rgb(75, 192, 192)',
                    borderColor: 'rgb(75, 192, 192)',
                    data: {{ third.get_ordinate_only }},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Taylor Method'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };

        var config = {
            type: 'line',
            data: {
                labels: {{ first.get_abscissa_only }},
                datasets: [{
                    label: "Initial Data",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ first.get_ordinate_only }},
                    fill: false
                }, {
                    label: "Ordinary Least Squares",
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                    data: {{ second.get_ordinate_only }},
                    fill: false
                }, {
                    label: "Taylor Method",
                    backgroundColor: 'rgb(75, 192, 192)',
                    borderColor: 'rgb(75, 192, 192)',
                    data: {{ third.get_ordinate_only }},
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Functions'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'x'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'y'
                        }
                    }]
                }
            }
        };


        window.onload = function() {
            var first = document.getElementById("myFirstChart").getContext("2d");
            window.myFirst = new Chart(first, configFirst);
            var second = document.getElementById("mySecondChart").getContext("2d");
            window.mySecond = new Chart(second, configSecond);
            var third = document.getElementById("myThirdChart").getContext("2d");
            window.myThird = new Chart(third, configThird);
            var chart = document.getElementById("myChart").getContext("2d");
            window.myChart = new Chart(chart, config);

        };

    </script>

{% endblock %}
